* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #414142;
	font-size: 1em;
	line-height: 1.5em;
	font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-size: 14px;
}

h1 {
	text-align: center;
}

a:link {
	color: #D64078;
	text-decoration: none;
}

a:visited {
	color: #D64078;
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: black;
	color: white;
}

img {
	max-width: 100%;
}

p {
	margin: 1em 0;
}

pre {
	margin: 1em 0;
	padding: 0 1em !important;
	overflow: auto;
	border-radius: 5px;
}

#container {
	min-height: 100%;
	position: relative;
}

#header, #body {
	margin: 0 auto;
	max-width: 900px;
}

#header {
	padding: 10px;
	padding-bottom: 1em;
}

#body {
	padding: 20px;
	padding-bottom: 80px;   /* 60px footer + 20px padding*/
}

#body p {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;   /* footer */

	display: block;
	text-align: center;
	overflow: hidden;
	background-color: #333;
	color: white;
	padding: 1em;
}

#footer span {
	height: 1em;
}

.logo {
	display: block;
}

.logo img {
	padding: .2em 0;
	vertical-align: middle;
	height: 50px;
}

.logo h1 {
	text-align: left;
	margin: 0;
}

.summary {
	vertical-align: top;
	display: inline-block;
	width: 46%;
	margin-right: 3%;
}

.summary p {
	font-size: 1.2em;
}

.example {
	display: inline-block;
	width: 49%;
}

.nav {
	width: 100%;
	min-height: 40px;
	margin-top: 1em;
	background-color: #333;
	border-radius: 5px;
	padding: 0 1em;
}

.nav > a {
	display: inline-block;
	line-height: 40px;
	margin: 0 1em;
	color: #ddd;
}

.nav > a:hover {
	text-decoration: none;
}

.nav > a:active {
	background-color: #333;
	text-decoration: none;
}
.nav > a.active {
	color: #fff;
	font-weight: 700;
}

.grid {
	width: 100%;
	padding: 1em 0;
}

.grid > div {
	display: inline-block;
	width: 44%;
	margin-top: 1em;
	vertical-align: top;
	margin-right: 5%
}

.grid > div h4 {
	color: #D64078;
	margin: 0;
}

.grid > div p {
	color: #444;
	margin-top: .5em;
	font-size: 1em !important;
}

a.button {
	display: inline-block;
	text-align: center;
	padding: .5em 1em;
	border-radius: 5px;
	color: white;
	background-color: #333;
	border: none;
	margin-right: 1em;
}

a.button:hover,
a.button.hover {
	background-color: #000;
	text-decoration: none;
}

a.button:active,
a.button.active {
	background-color: #000;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333; border: none }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

@media (max-width: 680px), screen and (orientation: portrait) {
	.grid > div {
		display: inline-block;
		width: 100%;
		margin-top: 1em;
		vertical-align: top;
		margin-right: 5%
	}
	.summary {
		width: 100%;
		margin-right: 0;
	}

	.example {
		width: 100%;
	}
}
