body {
  background: #1c1c1c;
  color: #fff;
}

p {
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text {
  margin: 0;
  font-size: 86px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.text .line {
  overflow: hidden;
  white-space: nowrap;
  height: 70px;
  line-height: .9;
}
.text .line:first-child + .line {
  margin-left: 75px;
}
.text .line:first-child + .line + .line {
  margin-left: 150px;
}
.text .line > p {
  margin: 0;
  height: 70px;
  overflow: hidden;
  font-size: 1em;
  line-height: .9;
  white-space: nowrap;
  -webkit-animation: moveWords 6s infinite ease;
          animation: moveWords 6s infinite ease;
}
.text .line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.66667);
          transform: skew(60deg, -30deg) scaleY(0.66667);
}
.text .line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.33333);
          transform: skew(0deg, -30deg) scaleY(1.33333);
}

@-webkit-keyframes moveWords {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes moveWords {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
